<div class="tyb-site-header-container">
	<header class="container">
		<div class="row">
			<div class="one-third column">
				<a class="tyb-site-news" href="#/news"><span>3</span> News</a>
			</div>
			<div class="offset-by-two six columns">
				<nav>
					<ul>
						<li class="tyb-home-link">
							<a href="#/home">Home</a>
						</li>
						<li class="tyb-about-me-link">
							<a href="#/about">About Me</a>
						</li>
						<li class="tyb-about-link">
							<a href="#/about">About</a>
						</li>
						<li class="tyb-portfolio-link">
							<a href="#/portfolio">Portfolio</a>
						</li>
						<li class="tyb-portfolio-work">
							<a href="#/portfolio">Work</a>
						</li>
						<li class="tyb-clients-link">
							<a href="#/clients">Clients</a>
						</li>
						<li class="tyb-contact-us-link">
							<a href="#/contact">Contact Me</a>
						</li>
						<li class="tyb-contact-link">
							<a href="#/contact">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>
