@charset "UTF-8";

@import "libs/normalize";
@import "libs/skeleton";

@import "components/header";
@import "components/footer";

@import "directives/featured-carousel";

@import "pages/home";
@import "pages/about-me";
@import "pages/contact-me";
@import "pages/clients";

@import "global";
@import "fonts";