body {
	background-color: #FFF;
	font-family: "roboto_condensedlight";
	width: 100%;
	overflow: hidden !important;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

body a {
	text-decoration: none;
}

div#main {
	background: #FFF;
	margin: 0px;
	width: 100%;
	height: auto;
	overflow: auto;
	display: block;
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	z-index: 0;
}

div#main main {
	height: 100%;
}