body {
	background-color: #FFF;
	font-family: "roboto_condensedlight";
	width: 100%;
	overflow: hidden !important;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

body a {
	text-decoration: none;
}

div#main {
	background: #FFF;
	margin: 0px;
	width: 100%;
	height: auto;
	overflow: auto;
	display: block;
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	z-index: 0;
}

div#main main {
	height: 100%;
}

a.tyb-link-button {
	border: 1px solid #000;
	border-radius: .9rem;
	color: #000;
	letter-spacing: .25rem;
	text-transform: uppercase;
	font-size: 2.15rem;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 21px;
	padding-top: 21px;
	font-family: "roboto_condensedregular";
}