footer {

	ul {

		list-style: none;
		margin-bottom: 1.5rem;

		li {

			display: inline-block;
			margin-right: 2rem;
			font-size: 1.8rem;

			a {
				color: #000;
				text-transform: uppercase;
			}

		}

	}

}

footer:before {
	content: "";
	display: block;
	background: url("../images/sprite.png");
	background-position: 0px -431px;
	width: 173px;
	background-repeat: no-repeat;
	margin-left: auto;
	height: 174px;
	margin-right: auto;
	text-align: center;
	margin-bottom: 8rem;
	margin-top: 13rem;
}