div.tyb-site-header-container {

	width: 100%;
	position: absolute;
	display: block;
	height: 65px;
	z-index: 1;

	header { 
		div.row {

			margin-top: 22px;

			a.tyb-site-news {

				color: #FFF;
				text-transform: uppercase;
				background: url('../images/sprite.png');
				background-repeat: no-repeat;
				background-position: 0px 2px;
				padding-left: 30px;
				width: 85px;
				height: 25px;
				display: inline-block;

				span {
					color: #a9baed;
					margin-right: 4px;
				}

			}

		}
	}

	nav {

		ul {

			list-style: none;
			list-style-type: none;
			vertical-align: top;

			li {

				display: inline-block;
				margin-right: 15px;
				margin-left: 15px;
				width: auto;

				&.tyb-portfolio-work,
				&.tyb-contact-link,
				&.tyb-about-link {
					display: none;
				}

				a {
					color: #FFF;
					text-transform: uppercase;
				}

			}
		}
	}

}

div.tyb-site-header-block {

	width: 100%;
	border-top: 5px solid #213F9A;
	border-bottom: 1px solid #434549;
	position: absolute;
	display: block;
	height: 65px;
	z-index: 1;

	.tyb-site-selected-source {
		top: 65px;
		position: absolute;
		background-color: #FFF;
		height: 1px;
	}

}

/* iPhone  */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

	div.tyb-site-header-container {

		header.container {

			div.row {

				a.tyb-site-news {

					font-size: 0;
					vertical-align: top;

					span {
						font-size: 0;
					}

				}

			}

			div.one-third.column {
				width: 8.6666666667%;
			}

			div.offset-by-two.six.columns {
				margin-left: 9%;
				width: 81.3333333333%;
			}

		}

		nav {

			ul {

				li {

					&.tyb-about-me-link,
					&.tyb-portfolio-link,
					&.tyb-contact-us-link {
						display: none;
					}

					&.tyb-portfolio-work,
					&.tyb-contact-link,
					&.tyb-about-link {
						display: inline-block;
					}

					margin-right: 3px;
					margin-left: 3px;

				}

			}

		}

	}

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

	div.tyb-site-header-container {

		header.container {

			div.one-third.column {
				width: 8.6666666667%;
			}

			div.offset-by-two.six.columns {
				margin-left: 18%;
				width: 72.3333333333%;
			}

		}

		nav {

			ul {

				li {

					&.tyb-about-me-link,
					&.tyb-portfolio-link,
					&.tyb-contact-us-link {
						display: none;
					}

					&.tyb-portfolio-work,
					&.tyb-contact-link,
					&.tyb-about-link {
						display: inline-block;
					}

					margin-right: 11px;
					margin-left: 11px;

				}

			}

		}

	}

}

/* iPad  */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {

	div.tyb-site-header-container {

		header.container {

			div.one-third.column {
				width: 26.6666666667%;
			}

			div.offset-by-two.six.columns {
				margin-left: 0%;
				width: 72.3333333333%;
			}

		}

		nav {

			ul {

				li {

					margin-right: 10px;
					margin-left: 10px;

				}

			}

		}

	}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {

	div.tyb-site-header-container {

		header.container {

			div.one-third.column {
				width: 30.6666666667%;
			}

			div.offset-by-two.six.columns {
				margin-left: 12.3333333333%;
				width: 53%;
			}

		}

		nav {

			ul {

				li {

					margin-right: 10px;
					margin-left: 10px;

				}

			}

		}

	}

}