.tyb-home-container {

	height: 100%;

	.tyb-home-hero-section {

		background-size: cover;
		background-position: center center;
		background-image: url('../images/bg-showcase.png');
		text-align: center;
		position: relative;
		height: 100%;
		top: 0;

		.tyb-home-hero-wrapper {
			height: 100%;
		}

		.tyb-home-hero-text {

			left: 0;
			margin: -5.5rem auto auto auto;
			position: absolute;
			top: 50%;
			width: 100%;

			h1:first-child {

				font-family: "roboto_condensedbold";
				text-transform: uppercase;
				letter-spacing: 0.5rem;
				font-size: 5.0rem;
				margin-bottom: 0.5rem;
				color: #FFF;

				span {
					font-family: "roboto_condensedlight";
					letter-spacing: 0.2rem;
				}

			}

			h2 {

				font-family: "roboto_condensedlight";
				font-size: 2.475rem;
				color: #FFF;

				span {
					color: #a9baed;
				}

			}

			h1:first-child:before {
				background: url('../images/sprite.png');
				background-repeat: no-repeat;
				background-position: 0px -27px;
				height: 122px;
				display: block;
				text-align: center;
				position: absolute;
				background-size: 400px;
				width: 127px;
				content: "";
				margin-top: -13.5rem;
				left: 50%;
				margin-left: -58.5px;
			}

		}

		.tyb-scroll-down {
			background: url("../images/sprite.png");
			background-repeat: no-repeat;
			background-position: 0px -192px;
			display: block;
			width: 94px;
			margin-left: auto;
			height: 90px;
			margin-right: auto;
			text-align: center;
			margin-top: 2.5rem;
		}

	}

	.tyb-home-main-content {

		margin-top: 4.0rem;

		h2:first-child {

			text-transform: uppercase;
			font-family: "roboto_condensedbold";
			letter-spacing: 0.7rem;
			font-size: 3em;
			color: #000;

			&:before {
				height: 35px;
				width: 1px;
				background: #787878;
				display: block;
				content: "";
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 2.0rem;
				text-align: center;
			}

			span {
				color: #213f9a;
			}

		}

		p {
			font-size: 1.5rem;
			font-family: "roboto_condensedlight";
			color: #3E3E3E;
			width: 100%;
			display: block;
			line-height: 3.15rem;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			letter-spacing: 0.05rem;
			margin-bottom: 0;
		}

		.tyb-about-me-link-button,
		.tyb-portfolio-link-button {
			margin-top: 3.75rem;
			display: inline-block;
			margin-bottom: 3.75rem;
		}

		.tyb-skills-container {

			&.tyb-see-more-active {
				margin-bottom: 6rem;
			}

			ul {

				list-style: none;
				margin-bottom: 0;
				margin-top: 6rem;

				li {

					width: 49%;
					text-align: left;
					display: inline-block;
					font-family: "roboto_condensedbold";
					font-size: 1.4rem;
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					margin-bottom: 3rem;
					-ms-transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;

					.tyb-skill {

						> span {

							display: block;
							margin-bottom: 1.5rem;
							margin-left: 2.5%;

							span {

								color: #213f9a;

							}

						}

						.tyb-progress-container {

							width: 95%;
							height: 2.75rem;
							border-bottom: 1px solid #777;
							margin-right: auto;
							margin-left: auto;
							text-align: center;

							.tyb-progress-bar {
								height: 2.5rem;
								background-color: #213f9a;
								-ms-transition: all 1.2s ease;
								-webkit-transition: all 1.2s ease;
								-moz-transition: all 1.2s ease;
								-o-transition: all 1.2s ease;
								transition: all 1.2s ease;
							}

						}

					}

				}

			}

			div.tyb-see-more-link {

				color: #000;
				text-transform: uppercase;
				margin-bottom: 7rem;
				font-size: 1.8rem;
				margin-top: 0rem;
				display: block;
				cursor: pointer;

				&:hover {
					color: #0FA0CE;
				}

			}

		}

	}

	.tyb-portfolio-container {

		height: auto;

		a.tyb-portfolio-link-button {
			display: inline-block;
			margin-bottom: 6.0rem;
		}

		.tyb-featured-carousel-container {

			background: url('../images/bg-carousel.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			text-align: center;
			position: relative;
			height: 41rem;

			ul.tyb-featured-carousel-list {

				height: 100%;

			}

		}

	}

	.tyb-clients-container {

		background: url('../images/bg-clients.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		text-align: center;
		position: relative;
		margin-top: 6rem;
		height: 55rem;
		color: #FFF;

		div.container {

			position: relative;
			height: 100%;

			div.tyb-center-middle {

				position: absolute;
				margin: 0;
				top: 50%;
				transform: translate(0, -50%);
				width: 100%;

				h2 {

					text-transform: uppercase;
					font-family: "roboto_condensedbold";
					letter-spacing: 0.7rem;

					span {
						font-family: "roboto_condensedlight";
					}

				}

				ul {

					margin-left: auto;
					margin-right: auto;
					text-align: center;
					margin-top: 9rem;
					margin-bottom: 3rem;

					li {

						display: inline-block;
						vertical-align: middle;
						margin-right: 4rem;

						&.tyb-icon-sony {
							background: url('../images/logos.png');
							background-repeat: no-repeat;
							background-position: 0px 0px;
							height: 37px;
							width: 205px;
						}

						&.tyb-icon-steinmart {
							background: url('../images/logos.png');
							background-repeat: no-repeat;
							background-position: 0px -52px;
							height: 67px;
							width: 221px;
						}

						&.tyb-icon-ebay {
							background: url('../images/logos.png');
							background-repeat: no-repeat;
							background-position: 0px -255px;
							height: 63px;
							width: 166px;
						}

						&.tyb-icon-petsmart {
							background: url('../images/logos.png');
							background-repeat: no-repeat;
							background-position: 0px -143px;
							height: 49px;
							width: 205px;
						}

						&.tyb-icon-reactor {
							background: url('../images/logos.png');
							background-repeat: no-repeat;
							background-position: 0px -211px;
							height: 24px;
							width: 192px;
						}

					}

					li:last-child {
						margin-right: 0;
					}

				}

				p {
					width: 75%;
					font-size: 1.4rem;
					line-height: 3.35rem;
					letter-spacing: 0.07rem;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					margin-bottom: 0;
					color: #5e5f64;
				}

			}

		}

		.tyb-see-all {
			text-transform: uppercase;
			color: #5E5F64;
			font-size: 2rem;
			display: inline-block;
			margin-bottom: 5rem;
		}

	}

	.tyb-home-help-container {

		background: url('../images/bg-contact.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		text-align: center;
		position: relative;
		margin-top: 6rem;
		height: 65rem;
		color: #FFF;

	}

	.tyb-connections-container {

		margin-top: 10rem;

		h2 {

			text-transform: uppercase;
			font-family: "roboto_condensedbold";
			letter-spacing: 0.5rem;

			span {
				font-family: "roboto_condensedlight";
			}

		}

		ul {

			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top: 9rem;
			margin-bottom: 9rem;

			li {

				display: inline-block;
				vertical-align: middle;
				margin-right: 9rem;

				a {

					display: block;
					height: 128px;
					width: 128px;

					&.tyb-connection-facebook {
						background: url('../images/sprite.png');
						background-repeat: no-repeat;
						background-position: 0px -613px;
					}

					&.tyb-connection-linkedin {
						background: url('../images/sprite.png');
						background-repeat: no-repeat;
						background-position: -141px -612px;
					}

					&.tyb-connection-twitter {
						background: url('../images/sprite.png');
						background-repeat: no-repeat;
						background-position: -281px -612px;
					}

					&.tyb-connection-google {
						background: url('../images/sprite.png');
						background-repeat: no-repeat;
						background-position: -425px -613px;
					}

				}

			}

			li:last-child {
				margin-right: 0;
			}

		}

		p {
			font-size: 1.9rem;
			font-family: "roboto_condensedlight";
			color: #3E3E3E;
			width: 100%;
			display: block;
			line-height: 3.35rem;
			letter-spacing: 0.04rem;
		}

	}

	.tyb-my-services {

		margin-top: 9rem;

		h2 {

			text-transform: uppercase;
			font-family: "roboto_condensedlight";
			letter-spacing: 0.7rem;

			span {
				font-family: "roboto_condensedbold";
			}

		}

		ul {

			width: 100%;
			list-style: none;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top: 6.0rem;

			li {

				vertical-align: bottom;

				h3 {

					font-size: 2rem;
					font-family: "roboto_condensedbold";
					letter-spacing: 0.05rem;

					span {
						font-family: "roboto_condensedlight";
					}

				}

				p {
					line-height: 1.9rem;
				}

				&.tyb-digital-marketing {

					h3:before {
						content: "";
						display: block;
						background: url("../images/sprite.png");
						background-position: -341px -168px;
						width: 138px;
						background-repeat: no-repeat;
						margin-left: auto;
						margin-bottom: 2.0rem;
						height: 116px;
						margin-right: auto;
						text-align: center;
					}

				}

				&.tyb-web-development {

					h3:before {
						content: "";
						display: block;
						background: url("../images/sprite.png");
						background-position: -162px -168px;
						width: 145px;
						background-repeat: no-repeat;
						margin-left: auto;
						margin-bottom: 2.0rem;
						height: 105px;
						margin-right: auto;
						text-align: center;
					}

				}

				&.tyb-mobile-apps {

					h3:before {
						content: "";
						display: block;
						background: url("../images/sprite.png");
						background-position: -162px -292px;
						width: 134px;
						background-repeat: no-repeat;
						margin-left: auto;
						margin-bottom: 2.0rem;
						height: 111px;
						margin-right: auto;
						text-align: center;
					}

				}

				width: 32.75%;
				display: inline-block;

			}

		}

	}

}

@media only screen
  and (orientation: landscape) {

	.tyb-home-container {

		.tyb-home-hero-section {

			.tyb-home-hero-text {

				margin: 2.0rem auto auto auto;

				h1:first-child {

					font-size: 3.75rem;

				}

				h2 {

					font-size: 1.75rem;

				}

				h1:first-child:before {
					background: url('../images/sprite.png');
					background-repeat: no-repeat;
					background-position: 0px -20px;
					height: 89px;
					display: block;
					text-align: center;
					position: absolute;
					background-size: 300px;
					width: 90px;
					content: "";
					margin-top: -9.3rem;
					left: 50%;
					margin-left: -43.25px;
				}

			}

			.tyb-scroll-down {
				display: none;
			}

		}

		.tyb-home-main-content {

			margin-top: 4.0rem;

			p {
				font-size: 1.5rem;
				font-family: "roboto_condensedlight";
				color: #3E3E3E;
				width: 100%;
				display: block;
				line-height: 3.15rem;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				letter-spacing: 0.05rem;
			}

		}

	}

}

@media (min-width: 510px) {

	.tyb-home-container {

		.tyb-home-hero-section {

			.tyb-home-hero-text {

				h1:first-child {


					font-size: 3.50rem;

				}

				h2 {

					font-size: 2.475rem;

				}

			}

		}

	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

	.tyb-home-container {

		.tyb-home-hero-section {

			.tyb-home-hero-text {

				margin: -10.0rem auto auto auto;

				h1:first-child {

					font-size: 8.75rem;

				}

				h2 {

					font-size: 3.475rem;

				}

				h1:first-child:before {
					background: url('../images/sprite.png');
					background-repeat: no-repeat;
					background-position: 0px -34px;
					height: 148px;
					width: 149px;
					content: "";
					margin-top: -20.0rem;
					left: 50%;
					margin-left: -74.5px;
				}

			}

			.tyb-scroll-down {
				background: url("../images/sprite.png");
				background-repeat: no-repeat;
				background-position: 0px -192px;
				display: block;
				width: 94px;
				margin-left: auto;
				height: 90px;
				margin-right: auto;
				text-align: center;
				margin-top: 6.0rem;
			}

		}

		.tyb-home-main-content {

			margin-top: 6.0rem;

			h2:first-child {

				text-transform: uppercase;
				font-family: "roboto_condensedbold";
				margin-bottom: 2.0rem;
				letter-spacing: 0.7rem;
				font-size: 3em;
				color: #000;

				&:before {
					height: 35px;
					width: 1px;
					background: #787878;
					display: block;
					content: "";
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 2.0rem;
					text-align: center;
				}

				span {
					color: #213f9a;
				}

			}

			p {
				font-size: 1.9rem;
				line-height: 3.35rem;
				letter-spacing: 0.07rem;
			}

		}

	}

}

@media (min-width: 768px)
	and (orientation: landscape) {

	.tyb-home-container {

		.tyb-home-hero-section {

			.tyb-home-hero-text {

				margin-top: -2.5rem;

				h1:first-child {

					font-size: 6.0rem;

				}

				h1:first-child:before {
					background: url('../images/sprite.png');
					background-repeat: no-repeat;
					background-position: 0px -27px;
					height: 122px;
					display: block;
					text-align: center;
					position: absolute;
					background-size: 400px;
					width: 127px;
					content: "";
					margin-top: -13.5rem;
					left: 50%;
					margin-left: -58.5px;
				}

			}

			.tyb-scroll-down {
				margin-top: 4.0rem;
			}

		}

	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {


	.tyb-home-container {

		height: 100%;

		.tyb-home-hero-section {

			background-size: cover;
			background-position: center center;
			background-image: url('../images/bg-showcase.png');
			text-align: center;
			position: relative;
			height: 100%;
			top: 0;

			.tyb-home-hero-wrapper {
				height: 100%;
			}

			.tyb-home-hero-text {

				left: 0;
				margin: -4.0rem auto auto auto;
				position: absolute;
				top: 50%;
				width: 100%;

				h1:first-child {

					font-family: "roboto_condensedbold";
					text-transform: uppercase;
					letter-spacing: 0.5rem;
					font-size: 8.75rem;
					margin-bottom: 0.5rem;
					color: #FFF;

					span {
						font-family: "roboto_condensedlight";
						letter-spacing: 0.2rem;
					}

				}

				h2 {

					font-family: "roboto_condensedlight";
					font-size: 4.2rem;
					color: #FFF;

					span {
						color: #a9baed;
					}

				}

				h1:first-child:before {
					background: url('../images/sprite.png');
					background-repeat: no-repeat;
					background-position: 0px -34px;
					height: 148px;
					display: block;
					text-align: center;
					position: absolute;
					width: 149px;
					content: "";
					margin-top: -20.0rem;
					left: 50%;
					margin-left: -74.5px;
				}

			}

			.tyb-scroll-down {
				background: url("../images/sprite.png");
				background-repeat: no-repeat;
				background-position: 0px -192px;
				display: block;
				width: 94px;
				margin-left: auto;
				height: 90px;
				margin-right: auto;
				text-align: center;
				margin-top: 6.0rem;
			}

		}

		.tyb-home-main-content {

			margin-top: 8.0rem;

			h2:first-child {

				text-transform: uppercase;
				font-family: "roboto_condensedbold";
				letter-spacing: 0.7rem;
				font-size: 3em;
				color: #000;

				&:before {
					height: 35px;
					width: 1px;
					background: #787878;
					display: block;
					content: "";
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 2.0rem;
					text-align: center;
				}

				span {
					color: #213f9a;
				}

			}

			p {
				font-size: 1.9rem;
				font-family: "roboto_condensedlight";
				color: #3E3E3E;
				width: 75%;
				display: block;
				line-height: 3.35rem;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				letter-spacing: 0.07rem;
				margin-bottom: 0;
			}

			.tyb-about-me-link-button,
			.tyb-portfolio-link-button {
				margin-top: 3.75rem;
				display: inline-block;
				margin-bottom: 3.75rem;
			}

			.tyb-skills-container {

				ul {

					list-style: none;

					li {

						width: 49%;
						text-align: left;
						display: inline-block;
						font-family: "roboto_condensedbold";
						font-size: 1.4rem;
						text-transform: uppercase;
						letter-spacing: 0.1rem;
						margin-bottom: 3rem;

						.tyb-skill {

							> span {

								display: block;
								margin-bottom: 1.5rem;
								margin-left: 2.5%;

								span {

									color: #213f9a;

								}

							}

							.tyb-progress-container {

								width: 95%;
								height: 2.75rem;
								border-bottom: 1px solid #777;
								margin-right: auto;
								margin-left: auto;
								text-align: center;

								.tyb-progress-bar {
									height: 2.5rem;
									background-color: #213f9a;
									-ms-transition: all 1.2s ease;
									-webkit-transition: all 1.2s ease;
									-moz-transition: all 1.2s ease;
									-o-transition: all 1.2s ease;
									transition: all 1.2s ease;
								}

							}

						}

					}

				}

			}

		}

		.tyb-portfolio-container {

			.tyb-featured-carousel-container {

				height: 82rem;

			}

		}

	}

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

	.tyb-home-container {

		.tyb-home-hero-section {

			.tyb-home-hero-text {

				margin: -3.0rem auto auto auto;

				h1:first-child:before {
					background: url('../images/sprite.png');
					background-repeat: no-repeat;
					background-position: 0px -34px;
					height: 148px;
					display: block;
					text-align: center;
					position: absolute;
					width: 149px;
					content: "";
					margin-top: -20.0rem;
					left: 50%;
					margin-left: -74.5px;
				}

			}

		}

	}

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
