<div class="tyb-about-container" resize>

	<div class="tyb-about-hero-section">
		<div class="tyb-about-hero-wrapper">
			<div class="container">
				<div class="wrapper">
					<div class="offset-by-six six columns">
						<div class="tyb-author"></div>
						<h1>TYLER+BECK</h1>
						<p>I'm a Software engineer with a passion to create. I develop pretty much anything from desktop, web, and mobile software and love using innovative technologies. I’m a full stack developer with experience across many spectrums of development.  I started developing over 14 years ago as a kid - my mom &amp; dad bought our first computer (outside of the Macintosh LC), a Windows 98. Afterwards, I started to gain passion to learn why games &amp; websites worked the way they did - I started learning HTML and soon transitioned into more application development with Visual Basic.</p>

						<p>I didn't stop there - I quickly wanted to learn more and soon got into ActionScript 2.0/3.0 &amp; JavaScript (among others) learning many concepts along the way including OOP, augmented reality, 3D programming, game development, inheritances, classes, and interfacing.  Since my beginning, I've always been excited to dive into the newest technologies and what they have to offer us. To present, I've worked with alot of major companies to improve and build upon their technology stacks.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer-container></header-container>

</div>