<div class="tyb-clients-container" resize>

	<div class="tyb-clients-hero-section">
		<div class="tyb-clients-hero-wrapper">
			<div class="container">
				<div class="wrapper">

					<h1>Featured Clients</h1>

					<ul
						rn-carousel
						rn-carousel-controls
						rn-carousel-index="1"
						class="tyb-clients-carousel-list"
					>
						<li>
							<div class="tyb-icon-container">
								<div class="tyb-icon-wrapper">
									<div class="tyb-icon-content">
										<div class="tyb-icon-item">
											<div class="tyb-icon-steinmart"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-reactor"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-uniqlo"></div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tyb-icon-container">
								<div class="tyb-icon-wrapper">
									<div class="tyb-icon-content">
										<div class="tyb-icon-item">
											<div class="tyb-icon-petsmart"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-sony"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-ebay"></div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tyb-icon-container">
								<div class="tyb-icon-wrapper">
									<div class="tyb-icon-content">
										<div class="tyb-icon-item">
											<div class="tyb-icon-spanx"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-toysrus"></div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>

	<div class="tyb-clients-main-content container">
	
		<h2>
			Clients
		</h2>

		<ul class="tyb-clients-list">
			<li class="container">
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-sony"></div>
				</div>
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-steinmart"></div>
				</div>
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-petsmart"></div>
				</div>
			</li>
			<li class="container">
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-reactorlabs"></div>
				</div>
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-ebay"></div>
				</div>
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-uniqlo"></div>
				</div>
			</li>
			<li class="container">
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-cbk"></div>
				</div>
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-bbw"></div>
				</div>
			</li>
			<li class="container">
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-spanx"></div>
				</div>
				<div class="wrapper">
					<div class="tyb-clients tyb-clients-toysrus"></div>
				</div>
			</li>
		</ul>

	</div>

	<footer-container></header-container>

</div>