<div class="tyb-clients-container" resize>

	<div class="tyb-clients-hero-section">
		<div class="tyb-clients-hero-wrapper">
			<div class="container">
				<div class="wrapper">

					<h1>Featured Clients</h1>

					<ul
						rn-carousel
						rn-carousel-controls
						rn-carousel-index="1"
						class="tyb-clients-carousel-list"
					>
						<li>
							<div class="tyb-icon-container">
								<div class="tyb-icon-wrapper">
									<div class="tyb-icon-content">
										<div class="tyb-icon-item">
											<div class="tyb-icon-steinmart"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-reactor"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-uniqlo"></div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tyb-icon-container">
								<div class="tyb-icon-wrapper">
									<div class="tyb-icon-content">
										<div class="tyb-icon-item">
											<div class="tyb-icon-petsmart"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-sony"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-ebay"></div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tyb-icon-container">
								<div class="tyb-icon-wrapper">
									<div class="tyb-icon-content">
										<div class="tyb-icon-item">
											<div class="tyb-icon-spanx"></div>
										</div>
										<div class="tyb-icon-item">
											<div class="tyb-icon-toysrus"></div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>

	<footer-container></header-container>

</div>