<div class="tyb-contact-container" resize>

	<div class="tyb-contact-hero-section">
		<div class="tyb-contact-hero-wrapper">
			<div class="container">
				<div class="wrapper">

					<div class="tyb-home-help-container">

						<div class="container">

							<div class="tyb-center-middle">

								<h2>
									<span>I can</span> help you
									<span class="tyb-friends">Or we can just be friends</span>
								</h2>

								<form>

									<div class="container">
										<div class="tyb-field needs">
											<label>I need</label>
											<select>
												<option>Web Development</option>
												<option>Mobile Development</option>
												<option>App Development</option>
												<option>Discussion</option>
												<option>Other</option>
											</select>
										</div>
									</div>

									<div class="container">
										<div class="tyb-field name six columns">
											<input type="text" name="fullname" value="" placeholder="Name" />
										</div>

										<div class="tyb-field email six columns">
											<input type="text" name="email" value="" placeholder="Email" />
										</div>
									</div>

									<div class="container">
										<div class="tyb-field message">
											<input type="text" name="message" value="" placeholder="How can I help?" />
										</div>
									</div>

									<div class="container">
										<div class="tyb-field message">
											<input type="submit" value="Send" />
										</div>
									</div>

								</form>

							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<footer-container></header-container>

</div>