<div class="tyb-home-container" ng-controller="HomeCtrl" resize>

	<div class="tyb-home-hero-section">
		<div class="tyb-home-hero-wrapper container">
			<div class="tyb-home-hero-text">
				<h1>Welcome to <span>Tyler + Beck</span></h1>
				<h2>I'm a <span>Software engineer</span></h2>
				<h2>I create media, <span>just for you</span></h2>
				<a ng-click="scrollDown();" class="tyb-scroll-down"></a>
			</div>
		</div>
	</div>

	<div class="tyb-home-main-content container">
		
		<h2>
			About <span>Me</span>
		</h2>

		<p>
			I'm a Software engineer with a passion to create.  I develop pretty much anything from desktop, web, and mobile software and love using innovative technologies.  
			I’m a full stack developer with experience across many spectrums of development.
		</p>

		<a class="tyb-about-me-link-button tyb-link-button" href="#/about">More About Me</a>

		<div class="tyb-skills-container">

			<ul>
				<li>
					<skill type="HTML" type-extra="Responsive" level="90"></skill>
				</li>
				<li>
					<skill type="Javascript" level="95"></skill>
				</li>
				<li>
					<skill type="Node.js &amp; " type-extra="AngularJS" level="95"></skill>
				</li>
				<li>
					<skill type="Java" level="82"></skill>
				</li>
				<li>
					<skill type="CSS" level="91"></skill>
				</li>
				<li>
					<skill type="Web &amp; " type-extra="Mobile Development" level="90"></skill>
				</li>
			</ul>

		</div>

	</div>

	<div class="tyb-portfolio-container">

		<a class="tyb-portfolio-link-button tyb-link-button" href="#/portfolio">View Portfolio</a>

		<featured-carousel></featured-carousel>

	</div>

	<div class="tyb-my-services container">

		<h2>
			<span>My</span> Services
		</h2>

		<ul>
			<li class="tyb-digital-marketing">
				<h3>Digital <span>Marketing</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula ex, congue id mauris vitae, vulputate posuere elit.</p>
			</li>
			<li class="tyb-web-development">
				<h3>Web <span>Development</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula ex, congue id mauris vitae, vulputate posuere elit.</p>
			</li>
			<li class="tyb-mobile-apps">
				<h3>Mobile <span>Apps</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula ex, congue id mauris vitae, vulputate posuere elit.</p>
			</li>
		</ul>

	</div>

	<div class="tyb-clients-container">

		<div class="container">

			<div class="tyb-center-middle">

				<h2>
					<span>You're in</span> good company
				</h2>

				<ul>
					<li class="tyb-icon-sony"></li>
					<li class="tyb-icon-steinmart"></li>
					<li class="tyb-icon-ebay"></li>
					<li class="tyb-icon-petsmart"></li>
					<li class="tyb-icon-reactor"></li>
				</ul>

				<p>The above companies are all places that I've done work for and you can find some examples of this in my portfolio.  If you have any questions about any of the pertaining clients I've worked with you can send me a message below and I'll try to get back to as soon as I can!</p>

			</div>

		</div>

	</div>

	<div class="tyb-connections-container">

		<div class="container">

			<div class="tyb-connections-wrapper">
			
				<h2>
					<span>Connect with</span> Tyler + Beck
				</h2>

				<p>You can find me using these social media sites.</p>

				<ul>
					<li>
						<a href="javascript:void();" class="tyb-connection-facebook">
						
						</a>
					</li>
					<li>
						<a href="javascript:void();" class="tyb-connection-linkedin">
						
						</a>						
					</li>
					<li>
						<a href="javascript:void();" class="tyb-connection-twitter">
						
						</a>						
					</li>
					<li>
						<a href="javascript:void();" class="tyb-connection-google">
						
						</a>						
					</li>
				</ul>

			</div>

		</div>

	</div>

	<div class="tyb-home-help-container">

		<div class="container">

			<div class="tyb-center-middle">

				<h2>
					<span>I can</span> help you
					<span class="tyb-friends">Or we can just be friends</span>
				</h2>

				<form>

					<div class="container">
						<div class="tyb-field needs">
							<label>I need</label>
							<select>
								<option>Web Development</option>
								<option>Mobile Development</option>
								<option>App Development</option>
								<option>Discussion</option>
								<option>Other</option>
							</select>
						</div>
					</div>

					<div class="container">
						<div class="tyb-field name six columns">
							<input type="text" name="fullname" value="" placeholder="Name" />
						</div>

						<div class="tyb-field email six columns">
							<input type="text" name="email" value="" placeholder="Email" />
						</div>
					</div>

					<div class="container">
						<div class="tyb-field message">
							<input type="text" name="message" value="" placeholder="How can I help?" />
						</div>
					</div>

					<div class="container">
						<div class="tyb-field message">
							<input type="submit" value="Send" />
						</div>
					</div>

				</form>

			</div>

		</div>

	</div>

	<footer-container></header-container>

</div>
