<div class="tyb-home-container" ng-controller="HomeCtrl" resize>
	<div class="tyb-home-hero-section">
		<div class="tyb-home-hero-wrapper container">
			<div class="tyb-home-hero-text">
				<h1>Welcome to <span>Tyler + Beck</span></h1>
				<h2>I'm a <span>Software engineer</span></h2>
				<h2>I create media, <span>just for you</span></h2>
				<a ng-click="scrollDown();" class="tyb-scroll-down"></a>
			</div>
		</div>
	</div>
	<div class="tyb-home-main-content container">
		
		<h2>
			About <span>Me</span>
		</h2>

		<p>
			I'm a Software engineer with a passion to create.  I develop pretty much anything from desktop, web, and mobile software and love using innovative technologies.  
			I’m a full stack developer with experience across many spectrums of development.
		</p>

		<a class="tyb-about-me-link-button tyb-link-button" href="#/about">More About Me</a>

		<div class="tyb-skills-container">

			<ul>
				<li>
					<skill type="HTML" type-extra="Responsive" level="90"></skill>
				</li>
				<li>
					<skill type="Javascript" level="95"></skill>
				</li>
				<li>
					<skill type="Node.js &amp; " type-extra="AngularJS" level="95"></skill>
				</li>
				<li>
					<skill type="Java" level="82"></skill>
				</li>
				<li>
					<skill type="CSS" level="91"></skill>
				</li>
				<li>
					<skill type="Web &amp; " type-extra="Mobile Development" level="90"></skill>
				</li>
			</ul>

		</div>

		<div class="tyb-portfolio-container">

			<a class="tyb-portfolio-link-button tyb-link-button" href="#/portfolio">View Portfolio</a>

			<featured-carousel></featured-carousel>

		</div>

	</div>

</div>